.addBook{
    display:block;
}
#addBookPopup{
    background-color:rgb(153, 153, 153);
    border-radius:25px;
    display:none;
    width:1;
    height:1;
}
.book{
    background-color:rgb(216, 216, 216);
    width:40vw;
}

.center{
    margin:auto;
    text-align:center;
}

/* 
todo:
- border + border-radius for .book
- addbook
*/